.Header {
  position: fixed;
  z-index: 9;
  width: 100%;
  align-items: center;
  padding: 10px 25px;
}
.headerWrap {
  display: flex;
  justify-content: space-between;
}
.logo-first {
  margin-top: 48px;
}
.nav_list {
  display: flex;
  li {
    margin-top: 58px;
    margin-left: 25px;
  }
  a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
}
